<h3>Adding/Removing Columns</h3>

In [7]:
# Adding new column

df["Discount"]=df["Total"]*0.10
print(df)

   OrderID       Product     Category  Price  Quantity         City  Total  \
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

   Discount
0       5.0
1       1.5
2       9.0
3       4.8
4       2.0
5       8.0

In [4]:
import pandas as pd

data = {
    "OrderID": [101, 102, 103, 104, 105, 106],
    "Product": ["Headphones", "T-Shirt", "Laptop Stand", "Coffee Mug", "Mouse", "Backpack"],
    "Category": ["Electronics", "Clothing", "Accessories", "Kitchen", "Electronics", "Accessories"],
    "Price": [25, 15, 30, 12, 20, 40],  # USD
    "Quantity": [2, 1, 3, 4, 1, 2],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Chicago", "Miami"]
}

df = pd.DataFrame(data)
df["Total"] = df["Price"] * df["Quantity"]  # Add a 'Total' column

print(df)

   OrderID       Product     Category  Price  Quantity         City  Total
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

In [6]:
# Adding new column

df["Discount"]=df["Total"]*0.10
print(df)

   OrderID       Product     Category  Price  Quantity         City  Total  \
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

   Discount
0       5.0
1       1.5
2       9.0
3       4.8
4       2.0
5       8.0

In [8]:
# Calculating final price after discount

df["FinalPrice"]=df["Total"]-df["Discount"]
print(df)

   OrderID       Product     Category  Price  Quantity         City  Total  \
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

   Discount  FinalPrice
0       5.0        45.0
1       1.5        13.5
2       9.0        81.0
3       4.8        43.2
4       2.0        18.0
5       8.0        72.0

In [9]:
#Removing a Column

df=df.drop("Discount",axis=1)  # axis=1 mean coloumn 1

In [10]:
df["Discount_15%"]=df["Total"]*0.15
df["FinalPrice_15%Discount"]=df["Total"]-df["Discount_15%"]
print(df)

   OrderID       Product     Category  Price  Quantity         City  Total  \
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

   FinalPrice  Discount_15%  FinalPrice_15%Discount
0        45.0          7.50                   42.50
1        13.5          2.25                   12.75
2        81.0         13.50                   76.50
3        43.2          7.20                   40.80
4        18.0          3.00                   17.00
5        72.0         12.00                   68.00

<h3>Sorting & Renaming Columns</h3>

In [13]:
#Sorting Rows by a Column
#Example: Sort by Final Price (Highest First)

print(df.sort_values(by="FinalPrice_15%Discount",ascending=False))

   OrderID       Product     Category  Price  Quantity         City  Total  \
2      103  Laptop Stand  Accessories     30         3      Chicago     90
5      106      Backpack  Accessories     40         2        Miami     80
0      101    Headphones  Electronics     25         2     New York     50
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
1      102       T-Shirt     Clothing     15         1  Los Angeles     15

   FinalPrice  Discount_15%  FinalPrice_15%Discount
2        81.0         13.50                   76.50
5        72.0         12.00                   68.00
0        45.0          7.50                   42.50
3        43.2          7.20                   40.80
4        18.0          3.00                   17.00
1        13.5          2.25                   12.75

In [14]:
#Sorting by Multiple Columns
#Example: First by City, then by Total

print(df.sort_values(by=["City","Total"], ascending=[True,False]))

   OrderID       Product     Category  Price  Quantity         City  Total  \
2      103  Laptop Stand  Accessories     30         3      Chicago     90
4      105         Mouse  Electronics     20         1      Chicago     20
3      104    Coffee Mug      Kitchen     12         4      Houston     48
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
5      106      Backpack  Accessories     40         2        Miami     80
0      101    Headphones  Electronics     25         2     New York     50

   FinalPrice  Discount_15%  FinalPrice_15%Discount
2        81.0         13.50                   76.50
4        18.0          3.00                   17.00
3        43.2          7.20                   40.80
1        13.5          2.25                   12.75
5        72.0         12.00                   68.00
0        45.0          7.50                   42.50

In [15]:
#Rename Columns

df=df.rename(columns={
    "FinalPrice_15%Discount":"FinalPrice",
    "Discount_15%":"Discount"
})

In [16]:
print(df)

   OrderID       Product     Category  Price  Quantity         City  Total  \
0      101    Headphones  Electronics     25         2     New York     50
1      102       T-Shirt     Clothing     15         1  Los Angeles     15
2      103  Laptop Stand  Accessories     30         3      Chicago     90
3      104    Coffee Mug      Kitchen     12         4      Houston     48
4      105         Mouse  Electronics     20         1      Chicago     20
5      106      Backpack  Accessories     40         2        Miami     80

   FinalPrice  Discount  FinalPrice
0        45.0      7.50       42.50
1        13.5      2.25       12.75
2        81.0     13.50       76.50
3        43.2      7.20       40.80
4        18.0      3.00       17.00
5        72.0     12.00       68.00